@charset "UTF-8";

html {background: #F7F5F5 url(../images/background.png) repeat;}
body {height:100%; margin:0; font-family: Tahoma, Geneva,"宋体B8B\4F53"; font-size:12px; color:#888; }
html:root body, html:root input, html:root button, html:root textarea, html:root select {font-family: Tahoma, Geneva, "宋体B8B\4F53";}
html:root button.btn,.nav_bar,.msbtn,.btn_share,.gotop{font-family: Tahoma, Geneva,Microsoft Yahei;}
a{color:#555; text-decoration:none;}
a:hover{ color:#333; }

/*共用基础css*/ 
.fl { float:left; }
.fr { float:right; }

/*头像*/
.iavtar{ display:inline-block;}
.avtar32{ width:32px; height:32px; background:e6e6e6;}

.inshadow{-moz-box-shadow:inset 0px 0px 5px rgba(0,0,0,0.1);
-webkit-box-shadow:inset 0px 0px 5px rgba(0,0,0,0.1);
box-shadow:inset 0px 0px 5px rgba(0,0,0,0.1);}

.radius3{-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;}
.radius5{-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;}
.radius25{-webkit-border-radius:25px;
-moz-border-radius:25px;
border-radius:25px;}

/*clearfix*/ 
.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

/*通用图标*/
.icon { display:inline-block; overflow:hidden; }

/*字体*/
@font-face {
    font-family: 'iconfont';
    src: url('font/iconfont.eot'); /* IE9*/
    src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/iconfont.woff') format('woff'), /* chrome、firefox */
         url('font/iconfont.ttf')  format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url('font/iconfont.svg#svgFontName') format('svg'); /*  iOS 4.1- */
    }
.icon{font-family:"iconfont" Tahoma; font-size:36px;}


